<div class="container-fluid mt-5">
    <div id="rotate">
        <app-search-form (searched)="reposearch($event)"></app-search-form>
    </div>
    <div class="container mt-5">
        <div class="container justify-content-center row">
            <div class="card col-3 m-2" *ngFor="let repository of rep" style="width: 22rem;">
                <div class="card-body">
                    <h5 class="card-title">{{repository.name}} </h5>
                    <div class="card-text">
                        <hr>
                        <div><span>Description:</span> {{repository.description}}
                        </div>
                        <hr>
                        <div class="mb-2">
                            <span>Language: </span> {{repository.language}}
                        </div>
                        <div class="card-subtitle mb-2"><span class="top">Created On:</span> {{repository.updated_at | date}}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group" role="group" aria-label="Third group">
                        <button class="btn btn-sm btn-success"><a href="{{repository.html_url}}"
                class="card-link">Visit Github Repo</a> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>