<div class="container user">
    <div id="rotate">
        <app-search-form (searched)="makeSearch($event)"></app-search-form>
    </div>
    <div class="row justify-content-center hg">
        <div class="col-md-4">
            <div class="container">
                <img src="{{user.avatar_url}}" alt="Avatar" class="image">
            </div>
        </div>
        <div class="col-md-6" id="users">

            <p class="username">
                {{user.name}}
            </p>
            <p>
                <span><strong>Username:</strong> </span> {{user.login}}
            </p>
            <p><strong>Repositories:</strong> {{user.public_repos}}
            </p>
            <p>
                <i class="fa fa-map-marker" id="fa" aria-hidden="true"></i>&nbsp;{{user.location}}
            </p>
            <p><strong>Followers:</strong> {{user.followers}}&nbsp; <strong>Following:</strong> {{user.following}}
            </p>
            <p> <strong>Created on:</strong> {{user.created_at| date}}
            </p>

        </div>
        <div class="btn">
            <button class="btn btn-success"><a href="{{user.html_url}}">Visit GitHub</a></button>
        </div>
    </div>
</div>