/* @import '~font-awesome/css/font-awesome.css'; */

@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');
* {
    font-family: 'Xanh Mono', monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url(http://www.animationsoftware7.com/img/agifs/leaf_fall_4.gif); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}